[heater_fan watercooling]
pin: PA1
max_power: 1.0
kick_start_time: 0.2
heater: extruder
heater_temp: 60.0
cycle_time: 0.0002  # Reduce for smoother PWM
hardware_pwm: True  # Use hardware PWM for better control

[fan]
##	Print Cooling Fan - GPIO26
pin: rpi:gpio26
max_power: 1
cycle_time: 0.002
hardware_pwm: false
shutdown_speed: 0

[heater_fan Stepper_fan]
pin: sht:gpio21
heater: extruder
heater_temp: 50.0

[multi_pin my_RSCS]
pins: PB11, PA15

[fan_generic RSCS]
##  RSCS Fans - In FAN1 Positon
pin: multi_pin:my_RSCS
max_power: 1
shutdown_speed: 0
off_below: 0.36
kick_start_time: 3
cycle_time: 0.00045 #0.5 #00015
hardware_pwm: false

[output_pin CPAPpowerfeed]
#In Heater1
pin: PC7
pwm: false
value: 1
shutdown_value:0.0 

[multi_pin Stepper_Fan]
pins: PB10, PA2

[controller_fan Stepper_Fan]
pin:multi_pin:Stepper_Fan
max_power:1
shutdown_speed: 1.0
cycle_time:1.0
fan_speed: 1.0
idle_speed:1.0
idle_timeout:120
stepper: stepper_x

[verify_heater Filament_Dryer]
max_error: 600
check_gain_time: 600
hysteresis: 5
heating_gain: 3

[heater_generic Filament_Dryer]
heater_pin: PB0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF9
control: pid
max_power: 1
pid_Kp: 66.746
pid_Ki: 3.504
pid_Kd: 317.878
min_temp: 0
max_temp: 85

[controller_fan Dryer_Blower]
pin: PA3
heater: Filament_Dryer
max_power: 1.0
kick_start_time: 0.2

[gcode_macro Heater_Safety_Check]
description: "Monitors heater for instability and turns it off if needed"
gcode:
  {% set hd = printer.heater_generic.Filament_Dryer %}
  {% if hd %}
    {% set target = hd.target %}
    {% set current = hd.temperature %}
    {% set last_temp = hd.temperature_history[-10] %}
    
    {% set deviation = abs(current - target) %}
    {% set instability = abs(current - last_temp) %}
    
    {% if printer.print_stats.state == "printing" %}
      {% if deviation > 10 %}
        RESPOND MSG="⚠️ WARNING: Filament Dryer Temp Deviation Too High! Turning Off Heater!"
        M104 S0
      {% elif instability > 5 %}
        RESPOND MSG="⚠️ ERROR: Filament Dryer Temp Fluctuating! Heater Disabled!"
        M104 S0
      {% endif %}
      UPDATE_DELAYED_GCODE ID=Heater_Safety_Check_Delay DURATION=30
    {% else %}
      RESPOND MSG="🟢 Heater check paused (Not printing)"
    {% endif %}
  {% else %}
    RESPOND MSG="Heater 'Filament_Dryer' not found!"
  {% endif %}